@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.body{
  background-image: url('images/background-img.png');
}
.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}
.wrapper .menu-btn{
  position: absolute;
  left: -5px;
  top: 10px;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: -5px;
}
.wrapper .menu-btn i{
  position: absolute;
  transform: ;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
}
#sidebar{
  position: fixed;
  background: #000029;
  height: 100%;
  width: 200px;
  overflow: hidden;
  left: -130px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
  
}
#sidebar .list-items{
  position: relative;
  background: #000029;
  width: 100%;
  height: 100%;
  list-style: none;
  margin-top: 100px;
}
#sidebar .list-items li{
  padding-left: 60px;
  line-height: 50px;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}
#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
.div1{
  height: 650px;
  height: 100%;
  margin-right: -50px
  z-index: -1
}
.div1 img{
  height: 650px;
}
.div2{
  height: 650px;
  margin-left: -49px;
}
.div2{
  background-color: #030352;
}


/*Form */
  
.input-field{
  width: 80%;
  padding: 10px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  background:transparent;

}
::placeholder {
  color:white;
}

.btn{
  background: #e78808;
}

@media (max-width: 1000px){
  .second{
    margin: auto;
  }
  .div1{
    height: 500px;
    z-index: -1
  }
  .div1 img{
    height: 500px;
    width: 90%;
  }
  .div2{
    height: 500px;
    width: 90%;
    overflow-x: auto;
    overflow-y: auto;
  }
}
@media (max-width: 800px){
  .div1{
    height: 400px;
    z-index: -1
  }
  .div1 img{
    height: 400px;
    width: 90%;
  }
  .div2{
    height: 400px;
    width: 90%;
  }
}
@media (max-width: 600px){
  .div1{
    height: 300px;
    width: 500px;
    margin-left: 50px;
    z-index: -1;
  }
  .div1 img{
    height: 300px;
    width: 500px;
    margin: auto;
  }
  .div2{
    height: 300px;
    margin-left: 50px;
    margin-top: 40px;
    width: 500px;
  }
}